.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* adjust height to full screen */
  }
  

.task-item {
    font-weight: 50px;
    color: black;
    line-height: 50px;
}

.delete_func {
    margin-left: 20px;
}

.input {
    text-align: left;
    vertical-align: top;
    width: 300px;
    height: 100px;
  }
  
